<div class="container">
    <div class="row">
        <div class="col-3">
            <h5>product</h5>
            <ul class="list-group">
                <li class="list-group-item" routerlink="editProduct">Edit Product</li>
                <li class="list-group-item" routerLink="/admin/createProduct">Create Product</li>
                <li class="list-group-item" routerLink="/admin/createProductVariation">Create ProductVariation </li>
                <li class="list-group-item" routerLink="/admin/viewOrders/shipped">View Shipped</li>
                <li class="list-group-item" routerLink="/admin/viewOrders/pending">View Pending</li>
            </ul>
        </div>
    </div>
</div>