<div class="container">
    <div class="row">
        <div class="col-2">
            <li>
               <a>product</a>
               
               <a routerlink="editProduct">edit Product</a>
               <p></p>
               <button class="btn btn-primary" routerLink="/admin/createProduct">Create Product</button>
               <button class="btn btn-primary" routerLink="/admin/createProductVariation">Create ProductVariation </button>
            </li>
            <li>
                <a>orders</a>
                    <button class="btn btn-primary" routerLink="/admin/viewOrders/shipped">View Shipped</button>
                    <button class="btn btn-primary" routerLink="/admin/viewOrders/pending">View Pending</button>
            </li>
            
        </div>
    </div>
</div>