<div class="container">
    
    <form [formGroup]="productVariationCreateForm">
        <h5> Contact Information </h5>
     
        <select class="form-select" aria-label="Default select example" (change)="changeProductId($event)">
            <option *ngFor="let product of products" value={{product._id}} [selected]="productId">
                {{product.brand}} - {{product.name}}
            </option>
        </select>
        
        <br>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="name@example.com" formControlName="price" [class.is-invalid]="productVariationCreateForm.get('price')!.invalid &&productVariationCreateForm.get('price')!.touched">
            <label for="name">Price</label>
            <small *ngIf="productVariationCreateForm.get('price')!.invalid && productVariationCreateForm.get('price')!.touched" class="text-danger">{{ FormControlErrorUtil.returnError(productVariationCreateForm.get('price'))}}</small>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="brand" placeholder="name@example.com" formControlName="colour" [class.is-invalid]="productVariationCreateForm.get('colour')!.invalid &&productVariationCreateForm.get('colour')!.touched">
            <label for="name">Colour</label>
            <small *ngIf="productVariationCreateForm.get('colour')!.invalid && productVariationCreateForm.get('colour')!.touched" class="text-danger">{{ FormControlErrorUtil.returnError(productVariationCreateForm.get('colour'))}}</small>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="description" placeholder="name@example.com" formControlName="stockAmount" [class.is-invalid]="productVariationCreateForm.get('stockAmount')!.invalid &&productVariationCreateForm.get('stockAmount')!.touched">
            <label for="name">Stock Amount</label>
            <small *ngIf="productVariationCreateForm.get('stockAmount')!.invalid && productVariationCreateForm.get('stockAmount')!.touched" class="text-danger">{{ FormControlErrorUtil.returnError(productVariationCreateForm.get('stockAmount'))}}</small>
        </div>
          
        <input class="form-control" (change)="onImagePicked($event)" placeholder="Upload Image" type="file" id="files" name="files" multiple />
        
        <div class="row">
            <div class="col-sm-2" *ngFor="let image of imagesArray">
                <div class="item">
                    <span class="notify-badge" (click)="removeImage(image)">X</span>
                    <img class="img-thumbnail img" src={{image}} alt="">
                </div>
            </div>
        </div>
       
        <br>

        <button class="btn btn-outline-dark w-100" (click)="createProductVariation()">
            Create
        </button>
    </form>
    
    </div>
    