<div class="container mt-3" *ngIf="order">

    <h5>
        Order Date : {{ order.orderTime | date}}
    </h5>
    <h5>
        Order Price : {{ order.totalPrice | currency }}
    </h5>
    <h5>
        Current Status: {{ order.status }}
    </h5>
    <br>


        <ng-container *ngFor="let item of order.orderItems">
            <div class="row mb-3">
                <div class="col-2">    
                    <img [src]="item.productVariation.images[0]" class="img-fluid" alt="..."> 
                </div>
                <div class="col-9">
                    <a routerLink="/product/view/{{item.product._id}}/{{item.productVariation._id}}"> {{ item.product.brand }} {{ item.product.name }} {{ item.productVariation.colour }} </a>
                    <p> Price Per Unit: {{ item.productVariation.price | currency }}  </p>
                    <p> Amount: {{ item.amount }} </p>
                    <p> Total Price: {{ item.productVariation.price * item.amount | currency }}  </p>
                </div>
            </div>
        </ng-container>


</div>
