<div class="container">
    
<form [formGroup]="productCreateForm">
    <h5> Contact Information </h5>
 
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="name@example.com" formControlName="name" [class.is-invalid]="productCreateForm.get('name')!.invalid &&productCreateForm.get('name')!.touched">
        <label for="name">Product Name</label>
        <small *ngIf="productCreateForm.get('name')!.invalid && productCreateForm.get('name')!.touched" class="text-danger">{{ FormControlErrorUtil.returnError(productCreateForm.get('name'))}}</small>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="brand" placeholder="name@example.com" formControlName="brand" [class.is-invalid]="productCreateForm.get('brand')!.invalid &&productCreateForm.get('brand')!.touched">
        <label for="name">Brand</label>
        <small *ngIf="productCreateForm.get('brand')!.invalid && productCreateForm.get('brand')!.touched" class="text-danger">{{ FormControlErrorUtil.returnError(productCreateForm.get('brand'))}}</small>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="tags" placeholder="name@example.com" formControlName="tags" [class.is-invalid]="productCreateForm.get('tags')!.invalid &&productCreateForm.get('description')!.touched">
        <label for="name">Tags (Seperate by space)</label>
        <small *ngIf="productCreateForm.get('tags')!.invalid && productCreateForm.get('tags')!.touched" class="text-danger">{{ FormControlErrorUtil.returnError(productCreateForm.get('tags'))}}</small>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="description" placeholder="name@example.com" formControlName="description" [class.is-invalid]="productCreateForm.get('description')!.invalid &&productCreateForm.get('description')!.touched">
        <label for="name">Description</label>
        <small *ngIf="productCreateForm.get('description')!.invalid && productCreateForm.get('description')!.touched" class="text-danger">{{ FormControlErrorUtil.returnError(productCreateForm.get('description'))}}</small>
    </div>
   
    <button class="btn btn-outline-dark" (click)="createProduct()">
        Create
    </button>
</form>

</div>
