<div class="container">
    <form>
        <h5>
            Login
        </h5>

    <div class="row">
        <div class="col-12">
            <label for="username">Username</label>
            <input [(ngModel)]="loginData.username" name="username" type="text" class="form-control" id="username" required #username="ngModel">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="password">Password</label>
            <input [(ngModel)]="loginData.password" name="password" type="password" class="form-control" id="password" required #password="ngModel">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12">
            <button class="btn btn-outline-dark form-control" (click)="login()">Login</button>
        </div>
    </div>

    </form>   
</div>
