<br>


<div class="container" *ngIf="product">
    <div class="row">
        <div class="col-1">
            <div class="overflow-auto h-100">
                <ng-container *ngFor="let image of product.images">
                    <img [ngClass]="{'border' : image === imageSelected}" class="img-fluid mb-3 p-1" src={{image}} alt="" (click)="selectImage(image)">
                </ng-container>
            </div>
        </div>
        <div class="col-5">

            
            <img [@enterSlideLeft]="imageSelected"  *ngFor="let imageSelected of [ imageSelected ]" class="img-fluid mb-3 border p-1" src={{imageSelected}} alt="">
        </div>
        <div class="col-3">
            <h5> {{product.brand}} </h5>
            <h5> {{product.name}} </h5>
            <p> {{product.description}} </p>
        </div>
        <div class="col-3">
            <h5> {{product.price  | currency:'AUD'}} </h5>
            <button class="btn btn-outline-dark" [disabled]="product.stockAmount === 0 " [innerHtml]="product.stockAmount > 0 ? 'Add To Cart' : 'Out Of Stock'" (click)="CartService.addToCart(product._id, 1)">
                
            </button>
            
        </div>
    </div>
</div>
